body
{
	background: #232323;
	margin: 0;
}
.square
{
	transition:background 1.0s:;
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	
}
#container
{
	max-width:600px;
	margin: 10px auto;


}
h1
{
	background: steelblue;
	color: white;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
#line
{
	background: white;	
	text-align: center;
	height: 30px;

}
button
{
	color: steelblue;
	border: none;
	background: white;
	text-transform: uppercase;
	height: 100%;
	letter-spacing: 1px;
	font-size: inherit;


}
button:hover
{
	color:white;
	background: steelblue;
	transition: all 1.0s;
}
.selected
{
	background: steelblue;
	color: white;
}
#colorDisplay
{
	font-size: 200%;
}
#msg
{
	display: inline-block;
	width: 10%;
	size: inherit;
}
#hint
{
	display: inline-block;
	width: 200px;

}